[submodule "external/md4c"]
	path = external/md4c
	url = https://github.com/mity/md4c.git
[submodule "external/katana-parser"]
	path = external/katana-parser
	url = https://github.com/hackers-painters/katana-parser.git
[submodule "external/cmark-gfm"]
	path = external/cmark-gfm
	url = https://github.com/github/cmark-gfm
